@model BestOffer
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <a class="btn btn-success" asp-controller="bestoffer" asp-action="ImageList">Edit Images</a>
    <form class="forms-sample" method="post" asp-controller="bestoffer" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
        </div>
        <div class="form-group">
            <label asp-for="Text"></label>
            <textarea class="form-control" asp-for="Text" style="width:350px;" id="BestOfferText" maxlength="20"></textarea>
            <span class="text-danger" asp-validation-for="Text" type="text"></span>
        </div>
        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationPartialView" />

    <script src="~/ckeditor/ckeditor.js"></script>

    <script>
        CKEDITOR.replace("BestOfferText")
    </script>
}


