@model BestOffer
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <form class="forms-sample" method="post" asp-controller="bestoffer" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
        </div>
        <div>
            @foreach (var image in Model.Images)
            {
                <img src="~/assets/img/bestOffer/@image.Image" style=" width:100px; height:100px;" alt="Alternate Text" />
            }
            <br />
            <label asp-for="Photo">Images: </label>
            <input class="form-control" asp-for="Photo" style="width:350px;">
            <span class="text-danger" asp-validation-for="Photo"></span>
        </div>
        <div class="form-group">
            <label asp-for="Text"></label>
            <textarea class="form-control" asp-for="Text" style="width:350px;" id="BestOfferText"></textarea>
            <span class="text-danger" asp-validation-for="Text" type="text"></span>
        </div>

        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationPartialView" />

    <script src="~/ckeditor/ckeditor.js"></script>

    <script>
        CKEDITOR.replace("BestOfferText")
    </script>
}


