
@{
    ViewData["Title"] = "Question";
}

<div class="home-navigation my-3">
    <div class="container">
        <a asp-controller="home" asp-action="index">Ana səhifə</a>/ <a>Sual Cavab</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9 col-12">
            <h4>MÜŞTƏRİ XİDMƏTİ - SUALLAR-CAVABLAR</h4>

            <p>
                Siz bizə elektron məktub göndərə və ya +994512073330 nömrəsinə zəng edə bilərsiniz.Müştəri xidməti
                şöbəsinə
                zəng edərkən, nəzərə alın ki, bəzən xətlərdə yaranan tıxanıqlıq zamanı sizin zənginizə cavab
                verməkdə
                gecikmələr ola bilər.Bu zaman bizə —marketing_jyskaz@taroldd.com elektron ünvanına məktub göndərə
                bilərsiniz:
                JYSK mağazalarından alınan məhsullarla bağlı hər hansı bir problem yarandığı təqdirdə,birbaşa
                məhsulu
                aldığınız mağazaya müraciət etməyiniz məsləhət görülür.
            </p>
        </div>
        <div class="col-md-3 col-12">
            <div class="questions-card mt-5">
                <div class="question-card-img">
                    <img src="~/assets/img/subscription/customer-service01.png" alt="hot-call">
                </div>
                <div class="question-card-text p-3 pt-5">
                    <h4>MÜŞTƏRİ XİDMƏTİ</h4>
                    <p>Tel:+99412 3775555</p>
                    <a href="#" class="btn btn-light">Bize yazin</a>
                    <p>Bazar ertəsi - Şəmbə günü : 10:00 - 18:00</p>
                    <p>Mağazaların iş qrafiki haqqında məlumat üçün <a href="#">bura</a> daxil olun</p>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="last-looked py-5 last-looked-secondary">
    <div class="container">
        <h4>Son Baxilanlar</h4>
        <div class="owl-carousel owl-theme owl-carusel-last-seen owl-carusel-store">
            <div class="product-owl-field p-3">
                <a href="#">
                    <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                    <br>
                    Carpayi Salling 140*220 natural
                </a>
                <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                <div class="real-price">299 AZN</div>
                <div class="discount-percentage my-2">Endirim 10%</div>
                <div class="extra-information">
                    <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                </div>
                <div class="wish-list text-center mt-2">
                    <a href="#">
                        <svg id="icon-heart" viewBox="0 0 512 512">
                            <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                            </path>
                        </svg>
                        Istek Listi
                    </a>
                </div>
            </div>

            <div class="product-owl-field p-3">
                <a href="#">
                    <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                    <br>
                    Carpayi Salling 140*220 natural
                </a>
                <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                <div class="real-price">299 AZN</div>
                <div class="discount-percentage my-2">Endirim 10%</div>
                <div class="extra-information">
                    <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                </div>
                <div class="wish-list text-center mt-2">
                    <a href="#">
                        <svg id="icon-heart" viewBox="0 0 512 512">
                            <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                            </path>
                        </svg>
                        Istek Listi
                    </a>
                </div>
            </div>
            <div class="product-owl-field p-3">
                <a href="#">
                    <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                    <br>
                    Carpayi Salling 140*220 natural
                </a>
                <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                <div class="real-price">299 AZN</div>
                <div class="discount-percentage my-2">Endirim 10%</div>
                <div class="extra-information">
                    <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                </div>
                <div class="wish-list text-center mt-2">
                    <a href="#">
                        <svg id="icon-heart" viewBox="0 0 512 512">
                            <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                            </path>
                        </svg>
                        Istek Listi
                    </a>
                </div>
            </div>
            <div class="product-owl-field p-3">
                <a href="#">
                    <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                    <br>
                    Carpayi Salling 140*220 natural
                </a>
                <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                <div class="real-price">299 AZN</div>
                <div class="discount-percentage my-2">Endirim 10%</div>
                <div class="extra-information">
                    <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                </div>
                <div class="wish-list text-center mt-2">
                    <a href="#">
                        <svg id="icon-heart" viewBox="0 0 512 512">
                            <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                            </path>
                        </svg>
                        Istek Listi
                    </a>
                </div>
            </div>
            <div class="product-owl-field p-3">
                <a href="#">
                    <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                    <br>
                    Carpayi Salling 140*220 natural
                </a>
                <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                <div class="real-price">299 AZN</div>
                <div class="discount-percentage my-2">Endirim 10%</div>
                <div class="extra-information">
                    <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                </div>
                <div class="wish-list text-center mt-2">
                    <a href="#">
                        <svg id="icon-heart" viewBox="0 0 512 512">
                            <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                            </path>
                        </svg>
                        Istek Listi
                    </a>
                </div>
            </div>
            <div class="product-owl-field p-3">
                <a href="#">
                    <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                    <br>
                    Carpayi Salling 140*220 natural
                </a>
                <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                <div class="real-price">299 AZN</div>
                <div class="discount-percentage my-2">Endirim 10%</div>
                <div class="extra-information">
                    <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                </div>
                <div class="wish-list text-center mt-2">
                    <a href="#">
                        <svg id="icon-heart" viewBox="0 0 512 512">
                            <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                            </path>
                        </svg>
                        Istek Listi
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

