
@{
    ViewData["Title"] = "Index";
}

<main>
    <!-- home-naviagtion -->
    <div class="home-navigation my-3">
        <div class="container">
            <a href="index.html">Ana səhifə</a>/ <a href="#">Yatag otağı</a> /<a href="#">Yatag otağı</a>/<a>Yatag otağı</a>
        </div>
    </div>

    <!-- Product Name -->
    <div class="product-name">
        <div class="container">
            <h3>Divan GEDVED 2 Nəfərlik Boz</h3>
        </div>
    </div>

    <!-- Product Detail -->
    <div class="product-detail-main">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="owl-carousel-container">
                        <div class="owl-carousel-product owl-carousel owl-theme">
                            <div class="owl-field p-5">
                                <img src="~/assets/img/subCategory/3600389-JENSLEV.jpg" alt="">
                            </div>
                            <div class="owl-field p-5">
                                <img src="~/assets/img/subCategory/3600389-JENSLEV.jpg" alt="">
                            </div>
                            <div class="owl-field p-5">
                                <img src="~/assets/img/subCategory/3600389-JENSLEV.jpg" alt="">
                            </div>
                        </div>
                        <!-- Small Picture -->
                        <div class="owl-small-img">
                            <span class="img-count"> 1</span>
                            <img src="~/assets/img/subCategory/3600389-JENSLEV.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-5">
                    <div class="shop-product p-4">
                        <ul>
                            <li>Magaza : 10 product movcuddur</li>
                            <li>Magaza : 10 product movcuddur</li>
                        </ul>
                        <p>Magazada sergi numunesini gore bilersiniz</p>
                        <hr class="my-3">
                        <h6>Aksiya bu tarixe geder kecerlidir: 11.05.2022</h6>
                        <div class="discount-percentage p-1">Endirim 17%</div>
                        <div class="discounted-price"><span>24.99</span>/ededi</div>
                        <div class="real-price">29.9</div>
                        <div class="form-group field-cart-product">
                            <input type="number" placeholder="1" class="p-3" min="1">
                            <button class="btn btn-primary btn-custom">Sebete at</button>
                        </div>
                        <div class="wish-list text-center mt-2">
                            <a href="#">
                                <svg id="icon-heart" viewBox="0 0 512 512">
                                    <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                    </path>
                                </svg>
                                Istek Listi
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Advantage Company Product Policy -->
    <div class="advantage-product-shop">
        <div class="row">
            <div class="col-md-6">
                <div class="changeable-product">
                    <div class="changeable-icon text-center">
                        <img src="~/assets/img/icons/icon1.png" alt="">
                    </div>
                    <h6 class="text-center">Qaytarilma ve Deyishdirilme</h6>
                    <p class="text-center">Alinan mallar 14 gun erzinde qaytarila ve ya deyishdirile biler</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="changeable-product">
                    <div class="changeable-icon text-center">
                        <img src="~/assets/img/icons/icon3.png" alt="">
                    </div>
                    <h6 class="text-center">Qaytarilma ve Deyishdirilme</h6>
                    <p class="text-center">Alinan mallar 14 gun erzinde qaytarila ve ya deyishdirile biler</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Nav Product Detail Delivering -->

    <div class="product-detail-delivering-nav">
        <div class="background-img"></div>
        <div class="product-detail-delivering-nav-inner">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active home-nav" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <table>
                            <tr>
                                <td class="td-first">Alfreds Futterkiste</td>
                                <td>Maria Anders</td>
                            </tr>
                            <tr>
                                <td class="td-first">Centro comercial Moctezuma</td>
                                <td>Francisco Chang</td>
                            </tr>
                            <tr>
                                <td class="td-first">Ernst Handel</td>
                                <td>Roland Mendel</td>
                            </tr>
                            <tr>
                                <td class="td-first">Island Trading</td>
                                <td>Helen Bennett</td>
                            </tr>
                            <tr>
                                <td class="td-first">Laughing Bacchus Winecellars</td>
                                <td>Yoshi Tannamuri</td>
                            </tr>
                            <tr>
                                <td class="td-first">Magazzini Alimentari Riuniti</td>
                                <td>Giovanni Rovelli</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade home-nav" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <ul>
                            <li>SAlam</li>
                            <li>SAlam</li>
                            <li>SAlam</li>
                            <li>SAlam</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Related Product -->
    <div class="last-looked py-5 related-product">
        <div class="container">
            <h4>Oxshar Meshullar</h4>
            <div class="owl-carousel owl-theme owl-carusel-last-seen owl-carusel-store">
                <div class="product-owl-field p-3">
                    <a href="#">
                        <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                        <br>
                        Carpayi Salling 140*220 natural
                    </a>
                    <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                    <div class="real-price">299 AZN</div>
                    <div class="discount-percentage my-2">Endirim 10%</div>
                    <div class="extra-information">
                        <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                    </div>
                    <div class="wish-list text-center mt-2">
                        <a href="#">
                            <svg id="icon-heart" viewBox="0 0 512 512">
                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                </path>
                            </svg>
                            Istek Listi
                        </a>
                    </div>
                </div>

                <div class="product-owl-field p-3">
                    <a href="#">
                        <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                        <br>
                        Carpayi Salling 140*220 natural
                    </a>
                    <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                    <div class="real-price">299 AZN</div>
                    <div class="discount-percentage my-2">Endirim 10%</div>
                    <div class="extra-information">
                        <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                    </div>
                    <div class="wish-list text-center mt-2">
                        <a href="#">
                            <svg id="icon-heart" viewBox="0 0 512 512">
                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                </path>
                            </svg>
                            Istek Listi
                        </a>
                    </div>
                </div>
                <div class="product-owl-field p-3">
                    <a href="#">
                        <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                        <br>
                        Carpayi Salling 140*220 natural
                    </a>
                    <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                    <div class="real-price">299 AZN</div>
                    <div class="discount-percentage my-2">Endirim 10%</div>
                    <div class="extra-information">
                        <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                    </div>
                    <div class="wish-list text-center mt-2">
                        <a href="#">
                            <svg id="icon-heart" viewBox="0 0 512 512">
                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                </path>
                            </svg>
                            Istek Listi
                        </a>
                    </div>
                </div>
                <div class="product-owl-field p-3">
                    <a href="#">
                        <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                        <br>
                        Carpayi Salling 140*220 natural
                    </a>
                    <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                    <div class="real-price">299 AZN</div>
                    <div class="discount-percentage my-2">Endirim 10%</div>
                    <div class="extra-information">
                        <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                    </div>
                    <div class="wish-list text-center mt-2">
                        <a href="#">
                            <svg id="icon-heart" viewBox="0 0 512 512">
                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                </path>
                            </svg>
                            Istek Listi
                        </a>
                    </div>
                </div>
                <div class="product-owl-field p-3">
                    <a href="#">
                        <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                        <br>
                        Carpayi Salling 140*220 natural
                    </a>
                    <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                    <div class="real-price">299 AZN</div>
                    <div class="discount-percentage my-2">Endirim 10%</div>
                    <div class="extra-information">
                        <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                    </div>
                    <div class="wish-list text-center mt-2">
                        <a href="#">
                            <svg id="icon-heart" viewBox="0 0 512 512">
                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                </path>
                            </svg>
                            Istek Listi
                        </a>
                    </div>
                </div>
                <div class="product-owl-field p-3">
                    <a href="#">
                        <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                        <br>
                        Carpayi Salling 140*220 natural
                    </a>
                    <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                    <div class="real-price">299 AZN</div>
                    <div class="discount-percentage my-2">Endirim 10%</div>
                    <div class="extra-information">
                        <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                    </div>
                    <div class="wish-list text-center mt-2">
                        <a href="#">
                            <svg id="icon-heart" viewBox="0 0 512 512">
                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                </path>
                            </svg>
                            Istek Listi
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Last Looked -->
    <div class="last-looked py-5 last-looked-secondary">
        <div class="container">
            <h4>Son Baxilanlar</h4>
            <div class="owl-carousel owl-theme owl-carusel-last-seen owl-carusel-store">
                <div class="product-owl-field p-3">
                    <a href="#">
                        <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                        <br>
                        Carpayi Salling 140*220 natural
                    </a>
                    <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                    <div class="real-price">299 AZN</div>
                    <div class="discount-percentage my-2">Endirim 10%</div>
                    <div class="extra-information">
                        <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                    </div>
                    <div class="wish-list text-center mt-2">
                        <a href="#">
                            <svg id="icon-heart" viewBox="0 0 512 512">
                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                </path>
                            </svg>
                            Istek Listi
                        </a>
                    </div>
                </div>

                <div class="product-owl-field p-3">
                    <a href="#">
                        <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                        <br>
                        Carpayi Salling 140*220 natural
                    </a>
                    <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                    <div class="real-price">299 AZN</div>
                    <div class="discount-percentage my-2">Endirim 10%</div>
                    <div class="extra-information">
                        <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                    </div>
                    <div class="wish-list text-center mt-2">
                        <a href="#">
                            <svg id="icon-heart" viewBox="0 0 512 512">
                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                </path>
                            </svg>
                            Istek Listi
                        </a>
                    </div>
                </div>
                <div class="product-owl-field p-3">
                    <a href="#">
                        <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                        <br>
                        Carpayi Salling 140*220 natural
                    </a>
                    <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                    <div class="real-price">299 AZN</div>
                    <div class="discount-percentage my-2">Endirim 10%</div>
                    <div class="extra-information">
                        <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                    </div>
                    <div class="wish-list text-center mt-2">
                        <a href="#">
                            <svg id="icon-heart" viewBox="0 0 512 512">
                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                </path>
                            </svg>
                            Istek Listi
                        </a>
                    </div>
                </div>
                <div class="product-owl-field p-3">
                    <a href="#">
                        <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                        <br>
                        Carpayi Salling 140*220 natural
                    </a>
                    <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                    <div class="real-price">299 AZN</div>
                    <div class="discount-percentage my-2">Endirim 10%</div>
                    <div class="extra-information">
                        <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                    </div>
                    <div class="wish-list text-center mt-2">
                        <a href="#">
                            <svg id="icon-heart" viewBox="0 0 512 512">
                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                </path>
                            </svg>
                            Istek Listi
                        </a>
                    </div>
                </div>
                <div class="product-owl-field p-3">
                    <a href="#">
                        <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                        <br>
                        Carpayi Salling 140*220 natural
                    </a>
                    <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                    <div class="real-price">299 AZN</div>
                    <div class="discount-percentage my-2">Endirim 10%</div>
                    <div class="extra-information">
                        <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                    </div>
                    <div class="wish-list text-center mt-2">
                        <a href="#">
                            <svg id="icon-heart" viewBox="0 0 512 512">
                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                </path>
                            </svg>
                            Istek Listi
                        </a>
                    </div>
                </div>
                <div class="product-owl-field p-3">
                    <a href="#">
                        <img src="~/assets/img/subCategory/1035158-KRONBORG.jpg" alt="">
                        <br>
                        Carpayi Salling 140*220 natural
                    </a>
                    <div class="discounted-price my-2"><span>269 AZN</span>/ededi</div>
                    <div class="real-price">299 AZN</div>
                    <div class="discount-percentage my-2">Endirim 10%</div>
                    <div class="extra-information">
                        <button class="btn btn-light form-control" type="submit">Daha Etrafli</button>
                    </div>
                    <div class="wish-list text-center mt-2">
                        <a href="#">
                            <svg id="icon-heart" viewBox="0 0 512 512">
                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                </path>
                            </svg>
                            Istek Listi
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

