
@{
    ViewData["Title"] = "Index";
}

<main>
    <!-- home-naviagtion -->
    <div class="home-navigation my-3">
        <div class="container">
            <a href="index.html">Ana səhifə</a>/ <a>Yatag otağı</a>
        </div>
    </div>
    <!-- Category Wallpaper -->
    <div class="category-wallpaper py-5 d-none d-md-block">
        <div class="container">
            <div class="category-wallpaper-inner">
                <div class="row">
                    <div class="col-md-4 d-none d-md-block">
                        <a href="#">
                            <img src="~/assets/img/bedroom/bedroom.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-4 d-none d-md-block">
                        <a href="#">
                            <img src="~/assets/img/bedroom/bedroom-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-4 d-none d-md-block">
                        <a href="#">
                            <img src="~/assets/img/bedroom/bedroom-3.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Category -->
    <div class="main-category">
        <div class="container">
            <div class="row">
                <!-- Aside -->
                <div class="d-none d-md-block col-md-3 mt-4">
                    <ul class="ul-main-category">
                        <li>
                            <a href="#">
                                Salam
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">
                                Salam
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">
                                Salam
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">
                                Salam
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">
                                Salam
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">
                                Salam
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">
                                Salam
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">
                                Salam
                            </a>
                        </li>
                        <hr>
                    </ul>
                </div>
                <!-- Main Side -->
                <div class="col-12 col-md-9 mt-4">
                    <h4>DÖŞƏK ,YORĞAN YASTIQ VƏ YATAQ DƏSTLƏRİNİN BÖYÜK SEÇİMİ</h4>
                    <p>
                        Mübahisəsiz çarpayı mebelin tərkib hissəsidir ki, insan öz vaxtının əsas hissəsini onunla
                        keçirir və istirahət edir.Çarpayı insan həyatında əhəmiyyətli rol oynayır.Və ona görə də
                        insanın bütün ehtiyaclarına cavab verə biləcək və onun dizaynı ilə ahəngləşə biləcək düzgün
                        çarpayı seçimi çox önəm kəsb edir.Yataq otağı bizdə istirahət təəssuratı oyatmalıdır .Ona
                        görə də dizayn ve komfort (rahatlıq) bir-biri ilə uyğunlaşmalı və bir-birini
                        tamamlamalıdır.Biz sizə baha olmayan yataq dəsti avadanlıqlarını almağı,həmçinin bir
                        seriyadan olan mebel dəstlərini təklif edə bilərik və ya siz təkcə çarpayı, tumba, şkaf seçə
                        bilərsiniz. Döşək, yorğan,yastıq,yataq dəsti - sizin sağlam yuxunuzun təminatıdır.
                    </p>
                    <div class="row subcategory-fields">

                        <div class="col-md-4 col-12 my-2 subcategory-field">
                            <a href="#">
                                <div class="subcategory-inner p-2">
                                    <p>Salam</p>
                                    <div>
                                        <img src="~/assets/img/bedroom/1035158-KRONBORG.jpg"
                                             alt="subcategory-photos">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-12 my-2 subcategory-field">
                            <a href="#">
                                <div class="subcategory-inner p-2">
                                    <p>Salam</p>
                                    <div>
                                        <img src="~/assets/img/bedroom/3600389-JENSLEV.jpg"
                                             alt="subcategory-photos">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-12 my-2 subcategory-field">
                            <a href="#">
                                <div class="subcategory-inner p-2">
                                    <p>Salam</p>
                                    <div>
                                        <img src="~/assets/img/bedroom/4606500-VALMUE-cutout.jpg"
                                             alt="subcategory-photos">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-12 my-2 subcategory-field">
                            <a href="#">
                                <div class="subcategory-inner p-2">
                                    <p>Salam</p>
                                    <div>
                                        <img src="~/assets/img/bedroom/bedroom-1.jpg" alt="subcategory-photos">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-12 my-2 subcategory-field">
                            <a href="#">
                                <div class="subcategory-inner p-2">
                                    <p>Salam</p>
                                    <div>
                                        <img src="~/assets/img/bedroom/bedroom-3.jpg" alt="subcategory-photos">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-12 my-2 subcategory-field">
                            <a href="#">
                                <div class="subcategory-inner p-2">
                                    <p>Salam</p>
                                    <div>
                                        <img src="~/assets/img/bedroom/KONGSBERG.png" alt="subcategory-photos">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-12 my-2 subcategory-field">
                            <a href="#">
                                <div class="subcategory-inner p-2">
                                    <p>Salam</p>
                                    <div>
                                        <img src="~/assets/img/bedroom/Sheets-in-stead-of-cut-out.jpg"
                                             alt="subcategory-photos">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-12 my-2 subcategory-field">
                            <a href="#">
                                <div class="subcategory-inner p-2">
                                    <p>Salam</p>
                                    <div>
                                        <img src="~/assets/img/bedroom/VEDDE.png" alt="subcategory-photos">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>

