@model BestOfferVM
@{
    ViewData["Title"] = "Index";
}

<div class="home-navigation my-3">
    <div class="container">
        <a asp-controller="home" asp-action="index">Ana səhifə</a>/ <a>Əla Təkliflər</a>
    </div>
</div>

<div class="best-offer" style="background:#fff;">
    <div class="container">
        <div class="best-offer-img" style="height:300px;">
            <img src="~/assets/img/bestOffer/@Model.BestOffer.Images.OrderByDescending(m=>m.Id).FirstOrDefault().Image" alt="Alternate Text" style="width:100%; height:100%" />
        </div>

        <p>@Html.Raw(Model.BestOffer.Text)</p>

        <a asp-controller="store" asp-action="index">Magazalar</a>
        <br />

        <a asp-controller="catalog" asp-action="index">Butun tekliflere baxmaq</a>

        <div class="best-offer-img" style="height:300px;">
            <img src="~/assets/img/bestOffer/@Model.BestOffer.Images.OrderByDescending(m=>m.Id).Skip(1).FirstOrDefault().Image" alt="Alternate Text" style="width:100%; height:100%" />
        </div>
    </div>
</div>

