@model PolicySection
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h1>Detail</h1>
    <div class="form-group">
        <h3>Policy Name</h3>
        <p>@Model.Name</p>
    </div>
    <div class="form-group">
        <h3>Policy Detail</h3>
        <p>@Html.Raw(Model.Detail)</p>
    </div>

</div>


