@model ProductCreateVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
<h1>Create</h1>
<form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        @* For Naming Label *@
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" style="width:350px;">
        <span class="text-danger" asp-validation-for="Name" type="text"></span>
    </div>
    <div class="form-group">
        @* For Naming Label *@
        <label asp-for="Detail"></label>
        <textarea class="form-control" asp-for="Detail" style="width:350px;" id="ProductText"></textarea>
        <span class="text-danger" asp-validation-for="Detail" type="text"></span>
    </div>
    <div class="form-group">
        @* For Naming Label *@
        <label asp-for="Discount"></label>
        <input class="form-control" asp-for="Discount" min="0" max="100" style="width:350px;">
        <span class="text-danger" asp-validation-for="Discount" type="text"></span>
    </div>
    <div class="form-group">
        @* For Naming Label *@
        <label asp-for="RealPrice"></label>
        <input class="form-control" asp-for="RealPrice" min="0" max="10000" style="width:350px;">
        <span class="text-danger" asp-validation-for="RealPrice" type="text"></span>
    </div>
    <div>
        <label asp-for="Photos">Images: </label>
        <input class="form-control" asp-for="Photos" style="width:350px;">
        <span class="text-danger" asp-validation-for="Photos"></span>
    </div>
    <div class="form-group my-2">
        <label asp-for="SubCategoryId"></label>
        <select asp-for="SubCategoryId" asp-items="@ViewBag.SelectList"></select>
        <span class="text-danger" asp-validation-for="SubCategoryId"></span>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6 col-12">
                <label asp-for="IsOutlet"></label>
                <input asp-for="IsOutlet">
                <span class="text-danger" asp-validation-for="IsOutlet" type="text"></span>
            </div>
            <div class="col-md-6 col-12">
                <label asp-for="IsOnline"></label>
                <input asp-for="IsOnline" />
                <span class="text-danger" asp-validation-for="IsOnline"></span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary me-2">Submit</button>
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>
</div>

@section Scripts{
    <partial name="_ValidationPartialView" />

    <script src="~/ckeditor/ckeditor.js"></script>

    <script>
        CKEDITOR.replace("ProductText")
    </script>
}

